{% extends 'app/base_app.html' %}
{% load user_tags %}
{% block title %} Registrar empleado{% endblock %}

{%  block content %}

<ul class="breadcrumb breadcrumbStyle">
  <li class="breadcrumb-item"><i class="fas fa-tools"></i> Administración</li>
  <li class="breadcrumb-item active">Nuevo empleado</li>
</ul>

<br>

{% if request.user|has_group:"propietario_negocio" %}
<h1 class="mt-4 text-center titleIniBox"><i class="fas fa-pencil-alt"></i> Registrar un Empleado</h1>

<br>

<div class="col-md-12">
  <div class="col-md-10 mx-auto">
    <br>
    <p>Los campos que aparecen con asteríscos <b>(*)</b> son <b>obligatorios</b>.</p>
    <br>
		<form class="form" method="POST" id="formulario_registro_empleado">
		{% csrf_token %}

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

		<div class="row">
			<div class="col">
				<label class="">Usuario del empleado: *</label>
	    	<input type="text" name="username" placeholder="Usuario" class="form-control" id="form-usuario">
	    </div>
	    <div class="col">
				<label class="">Correo del empleado: *</label>
	      <input type="text" name="email" placeholder="Correo" class="form-control" id="form-email">
			</div>
		</div>

		<div class="col-md-12 col-lg-12 col-sm-12"><br></div>

		<div class="row">
			<div class="col">
					<label class="">Nombre del empleado: *</label>
	        <input type="text" name="nombre" placeholder="Nombres" class="form-control" id="form-nombre">
			</div>
	    <div class="col">
					<label class="">Apellido del empleado: *</label>
	        <input type="text" name="apellido" placeholder="Apellidos" class="form-control" id="form-apellido">
			</div>
			<div class="col">
					<label class="">Documento del empleado: *</label>
	        <input type="text" name="documento" placeholder="Documento" class="form-control" id="form-telefono">
			</div>
		</div>

		<div class="col-md-12 col-lg-12 col-sm-12"><br></div>

		 <div class="row">
			 <div class="col">
					 <label class="">Contraseña para el usuario: *</label>
		    	<input type="password" name="password1" placeholder="Contraseña" class="form-control" id="form-contraseña">
		    </div>
		    <div class="col">
						<label class="">Confirmar contraseña: *</label>
		    	<input type="password" name="password2" placeholder="Confirmar contraseña" class="form-control" id="form-password2">
		    </div>
		 </div>

		 <div class="col-md-12 col-lg-12 col-sm-12"><br></div>

		 <div class="col-md-12 col-lg-12 col-sm-12 text-center">
			 <button class="save btn btn-green btn-lg" type="submit">Registrar empleado</button>
			 <br><br>
		 </div>

		</form>
	</div>
</div>
{% endif %}
{% if request.user|has_group:"empleado_negocio" %}
	<p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}

{% endblock %}
