@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

/* nav */
.TitleNegocio{
  background-image: url(../img/bg1.png);
	background-size: cover;
  background-color: #2ea035;
  color: white;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  font-family: 'Pacifico', cursive;
}

.bgGrayMenu {
    background-color: #ebebeb!important;
}
.borderMenu {
    border-right: 1px solid #ebebeb!important;
}

.UserCircle{
  padding: 30px 15px 15px 15px;
}

.imgUserCircle{
  max-width: 115px;
  border-radius: 50%;
  border: 3px solid #399d3f;
}

.nameUser{
  padding: 0px 15px 15px 15px;
}
.nameUserText1{
  color: #4d4d4d;
  margin-bottom: 0px;
}
.nameUserText2{
  color: #000000;
  font-weight: bolder;
}

.listMenu{
  border: 1px dashed rgba(0,0,0,.125);
  background-color: #ebebeb;
  font-weight: bolder;
}
.listMenu:active, .listMenu:hover, .listMenu:focus {
    color: #399d3f;
    background-color: #dadada;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
