:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url(../img/bg-login.jpg);
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input {
  border-radius: 2rem;
  padding: 15px;
  height: auto;
}

.btn-green {
  color: #fff;
  background: #15892e;
  background: -moz-linear-gradient(left, #15892e 0%, #399d40 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #15892e), color-stop(100%, #399d40));
  background: -webkit-linear-gradient(left, #15892e 0%, #399d40 100%);
  background: -o-linear-gradient(left, #15892e 0%, #399d40 100%);
  background: -ms-linear-gradient(left, #15892e 0%, #399d40 100%);
  background: linear-gradient(to right, #15892e 0%, #399d40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15892e', endColorstr='#399d40', GradientType=1 );
  border-color: #28a745;
}
.btn-green:hover{
  color: #eee;
  background: #117525;
  background: -moz-linear-gradient(left, #117525 0%, #308c36 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #117525), color-stop(100%, #308c36));
  background: -webkit-linear-gradient(left, #117525 0%, #308c36 100%);
  background: -o-linear-gradient(left, #117525 0%, #308c36 100%);
  background: -ms-linear-gradient(left, #117525 0%, #308c36 100%);
  background: linear-gradient(to right, #117525 0%, #308c36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#117525', endColorstr='#308c36', GradientType=1 );
}
