{% extends 'pagina/base_corporativo.html' %}
{% load user_tags %}
{% block title %} Registrar Negocio{% endblock %}

{%  block content %}

{% if request.user|has_group:"administrativo" %}

<ul class="breadcrumb breadcrumbStyle">
  <li class="breadcrumb-item"><i class="fas fa-users"></i> Negocios </li>
  <li class="breadcrumb-item breadcrumb-itemAdmin active"> Lista de Negocios</li>
</ul>

<h1 class="mt-4 text-center titleIniBoxAdmin"><i class="fas fa-users"></i> Registrar Negocios</h1>

<br>
<div id="alert-form"></div>

<div class="col-md-12">
  <div class="col-md-10 mx-auto">
		<form class="form-signin" method="post">
			{% csrf_token %}

			<div class="row">
        <div class="col">
					<label>{{ form.nombre.label }} *</label>
					{{ form.nombre }}
				</div>
				<div class="col">
					<label>{{ form.nit.label }} (Si tiene)</label>
					{{ form.nit }}
				</div>
			</div>

			<div class="col-md-12 col-lg-12 col-sm-12"><br></div>

			<div class="row">
				<div class="col">
					<label>{{ form.telefono.label }}</label>
					{{ form.telefono }}
				</div>
				<div class="col">
					<label>{{ form.email.label }}</label>
					{{ form.email }}
				</div>
			</div>

			<div class="col-md-12 col-lg-12 col-sm-12"><br></div>

			<div class="row">
				<div class="col">
			    <label>Propietario del negocio:</label>
			    <select class="form-control" name='usuario_id' required="required">
			      <option value="">Seleccionar</option>
			      {% for row in propietario_negocio %}
			        <option value="{{ row.id }}"> {{ row.first_name }} {{ row.last_name }} </option>
			      {% endfor %}
			    </select>
				</div>
				<div class="col">
			    <label>Pabellón:</label>
			    <select class="form-control" name='pabellon_id' required="required">
			      <option value="">Seleccionar</option>
			      {% for row in pabellon %}
			        <option value="{{ row.id }}"> {{ row.nombre }} </option>
			      {% endfor %}
			    </select>
			  </div>
			</div>

			<br><br>
	    <button type="submit" class="btn btn-lg btn-orange btn-login font-weight-bold mb-2">Registrar Negocio</button>

		</form>
	</div>
</div>

{% endif %}

{% if request.user|has_group:"propietario_negocio" %}
	<p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}
{% if request.user|has_group:"empleado_negocio" %}
	<p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}

{% endblock %}
