{% extends 'pagina/base_corporativo.html' %}
{% load user_tags %}
{% block title %} Lista de negocios {% endblock %}

{%  block content %}

{% if request.user|has_group:"administrativo" %}

<table class="table table-striped table-bordered table-striped" id="ejemplo">
   <thead class="theadStyle">
     <tr>
       <th>Nombre del Negocio</th>
       <th>Nit</th>
       <th>Propietario</th>
       <th>Telefono del Negocio</th>
       <th>Email del Negocio</th>
       <th>Acciones</th>
     </tr>
   </thead>
   <tbody class="text-center">
   {% for row in negocio %}
     <tr>
       <td>{{ row.nombre }}</td>
       <td>{{ row.nit }}</td>
       <td>{{ row.usuario_id.id.first_name }} {{ row.usuario_id.id.last_name }}</td>
       <td>{{ row.telefono }}</td>
       <td>{{ row.email }}</td>
       <td>
         <!-- <a class="btn btn-green btn-sm" href="#" > Detalles </a> -->
         <a class="btn btn-primary btn-sm" href="#" > Editar </a>
       </td>
     </tr>
     {% empty %}
     <tr>
       <td colspan="6" class="text-center bg-warning">No hay pabellones registrados</td>
     </tr>
   {% endfor %}
   </tbody>
 </table>

 {% endif %}

 {% if request.user|has_group:"propietario_negocio" %}
 	<p>Lo siento, no tiene permisos para este contenido :(</p>
 {% endif %}
 {% if request.user|has_group:"empleado_negocio" %}
 	<p>Lo siento, no tiene permisos para este contenido :(</p>
 {% endif %}

 {% endblock %}
