{% extends 'pagina/base_corporativo.html' %}
{% load user_tags %}
{% block title %} Index {% endblock %}

{%  block content %}

{% if request.user|has_group:"administrativo" %}

<h4>Bienvenido!</h4>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5"><a href="{% url 'view_pabellon' %}">Pabellones</a></h1>
      <h1 class="mt-5"><a href="{% url 'registrar_pabellon' %}">Registro Pabellones</a></h1>
      <h1 class="mt-5"><a href="{% url 'view_comerciantes' %}">Comerciantes</a></h1>
      <h1 class="mt-5"><a href="{% url 'registrar_comerciante' %}">Registro Comerciantes</a></h1>
      <h1 class="mt-5"><a href="{% url 'registrar_negocio' %}">Registro Negocio</a></h1>
      <h1 class="mt-5"><a href="{% url 'view_negocio' %}">Negocio</a></h1>
    </div>
  </div>
</div>

{% endif %}

{% if request.user|has_group:"propietario_negocio" %}
 <p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}
{% if request.user|has_group:"empleado_negocio" %}
 <p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}

{% endblock %}
