{% extends 'pagina/base_corporativo.html' %}
{% load user_tags %}
{% block title %} Index {% endblock %}

{%  block content %}

{% if request.user|has_group:"administrativo" %}

<ul class="breadcrumb breadcrumbStyle">
  <li class="breadcrumb-itemAdmin active">Inicio</li>
</ul>

<br>
<h1 class="mt-4 text-center titleIniBoxAdmin"> Bienvenido</h1>

{% endif %}

{% if request.user|has_group:"propietario_negocio" %}
 <p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}
{% if request.user|has_group:"empleado_negocio" %}
 <p>Lo siento, no tiene permisos para este contenido :(</p>
{% endif %}

{% endblock %}
