{% extends 'app/base_app.html' %}
{% block title %} Inicio {% endblock %}

{%  block content %}

 <h1 class="mt-4">Lista Compras</h1>

 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Fecha de la compra</th>
        <th>Proveedor</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="respuesta_j">
      
    </tbody>
  </table>

 {% endblock %}

{% block javascript %}
<script type="text/javascript">

  id = $('#usuario_id').text();
  console.log(id);
        var csrftoken = '{{ csrf_token }}';
        $.ajax({
          headers: {'X-CSRF-TOKEN': csrftoken},
          method: "GET",
          url: '/compras/lista/'+id+'/',
          dataType: 'json',
          data: { "csrfmiddlewaretoken": csrftoken,
              "id": id }
        })

        .done(function(response){
          console.log(response);
          var res = response;
          var html = '';
          // var url = "{% url 'detalles_compras' ";
          if (JSON.stringify(res)=='{}'){
            html = '<tr><td colspan="6" class="text-center bg-warning">No hay productos registrados</td></tr>'
          }
          else{
            for(var item in res){
              console.log(res[item]);
              html +='<tr>';
              html +='<td>'+res[item].fecha+'</td>';
              html +='<td>'+res[item].proveedor+'</td>';
              html +='<td>'+res[item].subtotal_neto+'</td>';
              html +='<td>'+res[item].IVA+'</td>';
              html +='<td>'+res[item].total+'</td>';
              // html +='<td><a class="btn btn-success btn-sm" data-toggle="modal" data-target="#editarmodal" onclick="detalles('+res[item].id_compra+')"> Detalles </a>';
              // html +='<a class="btn btn-danger btn-sm" href="'+ url +'pk='+res[item].id_compra+' %}">Borrar</a></td>';
              html +='</tr>';
            }
          }

          $("#respuesta_j").html(html)
          
        });

</script>
{% endblock %} 