{% extends 'pagina/base_login.html' %}
{% block title %} Negocios Disponibles {% endblock %}

{%  block content %}

<h3><b style="color: #4CAF50;">Negocios Disponibles</b></h3>
<br>
{% for row in negocio %}
<p>
  <b style="font-size: 25px;color: #585858;vertical-align: bottom;margin-right: 15px;">{{row.nombre}}</b>
  <b><a class="btn btn-green btn-sm" href="{% url 'principal_app' pk=row.id %}" > Escojer </a></b>
</p>
<br>
{% empty %}
<p>
  <b style="font-size: 25px;color: #585858;vertical-align: bottom;margin-right: 15px;">El usuario no tiene ningún negocio registrado en el sistema.</b>
</p>
{% endfor %}

{% endblock %}
