{% extends 'pagina/base_login.html' %}
{% block title %} Iniciar Sesión {% endblock %}

{%  block content %}

<h3 class="login-heading mb-4">Inicia Sesión!</h3>

<form class="form-signin" method="post">
	{% csrf_token %}
	<div class="form-label-group">
		<input type="text" name="usuario" class="form-control" placeholder="Nombre de usuario" required autofocus id="form-usuario">
		<label class="sr-only">Usuario</label>
	</div>

	<div class="form-label-group">
		<input type="password" name="clave" class="form-control" placeholder="Contraseña" required id="form-contraseña">
		<label for="inputPassword" class="sr-only">Password</label>
	</div>
	<div class="text-center">
		<a class="small" href="#">¿Olvidó la contraseña?</a>
	</div>
	<br><br>
	<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Ingresar</button>

</form>

{% endblock %}
